html, body {
	height: 100%;
	width: 100%;
}

#header {
	background-color: #23415C;
	padding: 1% 0;
	font-size: 1.2em;
}

#header-img {
	width: 1.75rem;
}

#header .navbar-nav li a {
	color: #d5d5d5;
}

#header .navbar-nav li a:hover, #header .navbar-nav li a.active{
	color: #fff;
}

#home {
	background: url(https://live.staticflickr.com/3086/2622999261_39dd8463a2_b.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	color: #fff;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 5em;
	font-weight: bold;
}

.padding {
	padding: 80px 0;
}

#video {
	width: 100%;
}

.padding img {
	width: 100%;
}

#fixed {
	background: url(https://live.staticflickr.com/3765/10508221763_ba951c6f57_b.jpg) no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#pricing h4 {
	font-weight: bold;
}

#pricing h5 {
	font-style: italic;
}

#pricing li {
	padding: 0.5em;
}

#pricing button {
	margin: 0em 5em 1em 5em;
	color: darkslategrey;
}

#footer {
	width: 100%;
	background-color: #23415C;
	padding: 3%;
	color: #fff;
}

#footer .bi {
	padding: 15px;
	font-size: 25px;
	color: #d5d5d5;
}

#footer .bi:hover {
	color: #fff;
}

#footer h3 {
	font-weight: bold;
}

#footer h4 {
	font-size: 1em;
}
